.card-body1 {
    border: solid;
    border-color: #404c58;
    margin: 30px 90px 0px 90px;
    display: block;
    max-width: 900px;
    max-height: 480px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.search-btn {
    padding: 4px 8px 6px 8px;
}

.form-control-sm {
    margin: 15px 0px 0px 15px;
    font-size: 15px;
}

.rounded-circle {
    display: block;
    margin: 50px 0px 0px 0px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: #404c58;
    background: linear-gradient(to top, #232526 10%, #414345);
}

.currentLocation,
.currentTemp {
    font-size: 44px;
    color: white;
    font-weight: 600;
    margin: 10px;
    text-align: center;
}

#mainImg {
    margin: 0 auto;
    text-align: center;
    display: block;
    color: #ff5722;
}

.tempPhraseMain {
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 300;
    margin: 20px 0px 0px 0px;
}

.Today,
.Date,
.QuestionTime,
.AnswerTime {
    color: #321730;
    text-align: center;
    font-size: 35px;
}

.Today,
.QuestionTime {
    margin: 40px 0px 0px 0px;
    font-weight: bolder;
}

.Date,
.AnswerTime {
    margin: 15px 0px 0px 0px;
    font-weight: 400;
}

.Forecast {
    font-size: 30px;
    color: #321730;
    text-align: left;
    font-weight: bold;
    margin: 50px 0px 0px 50px;
}

.card-body2 {
    border: solid;
    border-color: #404c58;
    margin: 0px 90px;
    border-top: none;
    display: block;
    max-width: 900px;
    max-height: 230px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.card-title,
.card-text-date,
.card-text-temp,
.tempPhrase,
.fa-cloud-rain {
    text-align: center;
    color: #321730;
    margin: 5%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
}

.card-text-date,
.card-text-temp {
    font-size: 18px;
    margin: 0 auto;
}

.tempPhrase {
    margin: 10px;
    font-size: 15px;
    font-weight: 200px;
    text-align: center;
}

.fas {
    margin: 0 auto;
    text-align: center;
    display: block;
    color: #ff5722;
}

.Coder {
    text-align: center;
    color: #ff5722;
    font-weight: bold;
    max-width: 900px;
}